backtrader==1.9.78.123
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.12.14
charset-normalizer==3.4.1
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428404268/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1735335845386/work
idna==3.10
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1725459292489/work
lxml==5.3.0
matplotlib==3.10.0
munkres==1.1.4
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1734904333016/work/dist/numpy-2.2.1-cp313-cp313-macosx_11_0_arm64.whl#sha256=d7472df72c5c1c0d55cc55f5197b9b18fcf61c5ee47be68b8b0773abc91c6416
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878437586/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929746402/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
requests==2.32.3
simplejson==3.19.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
soupsieve==2.6
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1732615933794/work
tqdm==4.67.1
tushare==1.4.14
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1733235305708/work
urllib3==2.3.0
websocket-client==1.8.0
